{% extends '@common/layout.twig' %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-8 col-lg-6 mx-auto">
        <div class="card" style="width: 100%;">
          <form action="/auth/register" method="POST" novalidate>
            <div class="card-header">
              <h5>
                Register
              </h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="firstnameInput" class="form-label">
                  First Name
                </label>
                <input type="text"
                  class="form-control {{
                  errors['first_name']
                    ? 'is-invalid'
                    : ''
                  }}"
                  id="firstnameInput"
                  name="first_name"
                  placeholder=""
                  value="{{ fields['first_name'] ?? '' }}" />
                <div class="invalid-feedback">
                  {{ errors['first_name'] }}
                </div>
              </div>
              <div class="mb-3">
                <label for="lastnameInput" class="form-label">Last Name</label>
                <input type="text"
                  class="form-control {{
                  errors['last_name']
                    ? 'is-invalid'
                    : ''
                  }}"
                  id="lastnameInput"
                  name="last_name"
                  placeholder=""
                  value="{{ fields['last_name'] }}" />
                <div class="invalid-feedback">
                  {{ errors['last_name'] }}
                </div>
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <input type="email"
                  class="form-control {{ errors['email'] ? 'is-invalid' : '' }}"
                  id="emailInput"
                  name="email"
                  placeholder="name@example.com"
                  value="{{ fields['email'] ?? '' }}" />
                <div class="invalid-feedback">
                  {{ errors['email'] }}
                </div>
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password"
                  class="form-control {{
                  errors['password']
                    ? 'is-invalid'
                    : ''
                  }}"
                  name="password"
                  id="passwordInput"
                  value="" />
                <div class="invalid-feedback">
                  {{ errors['password'] }}
                </div>
              </div>
            </div>
            <div class="card-body">
              <button type="submit" class="btn btn-primary">Register</button>
              <p class="mt-3">
                Don't have an account? &nbsp;
                <a href="/auth/register" class="card-link">Register</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
